---
import * as index from "../content/index.md";
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/global.css" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>tatesite preview</title>
	</head>
	<body>
		<div style="position: fixed; top: 0">
		column-width: <input type="number" min="0" max="40" value="27" onchange="document.documentElement.style.setProperty('--column-width', this.value + 'rem');" /> rem
		</div>
		<div style="position: fixed; top: 3rem">
		background color: <input type="color" value="#f6ffe7" onchange="document.documentElement.style.setProperty('--background-color', this.value);" />
		</div>
		<div class="verticalContainer" set:html={index.compiledContent()} />
	</body>
</html>
